<div>
  <mat-card [formGroup]="form">
    <mat-card-header>
      <h1>{{ pageTitle }}</h1>
    </mat-card-header>

    <mat-card-content>
      <div>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"> </textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addBlog()">
        Add Blog
      </button>
      <button mat-raised-button color="warm" (click)="closePopUp()">
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</div>
