<div>
  <mat-card [formGroup]="form">
    <mat-card-header>
      <h1>Registration Form</h1>
    </mat-card-header>

    <mat-card-content>
      <div>
        <mat-form-field>
          <mat-label>Name*</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="checkError('name', 'required')"
            >Name is required</mat-error
          >
          <mat-error *ngIf="checkError('name', 'pattern')"
            >Please enter ony charecters</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Phone Number*</mat-label>
          <input matInput formControlName="phoneNo" />
          <mat-error *ngIf="checkError('phoneNo', 'required')"
            >Name is required</mat-error
          >
          <mat-error *ngIf="checkError('phoneNo', 'pattern')"
            >Please enter Valid phone number</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>State</mat-label>
          <mat-select formControlName="state">
            <mat-option *ngFor="let item of state" [value]="item">{{
              item
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="checkError('state', 'required')"
            >Name is required</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>City</mat-label>
          <mat-select formControlName="city">
            <mat-option *ngFor="let item of city" [value]="item">{{
              item
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="checkError('city', 'required')"
            >Name is required</mat-error
          >
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addReg()">
        Submit
      </button>
      <button mat-raised-button color="warm" (click)="resetForm()">
        Reset
      </button>
    </mat-card-actions>
  </mat-card>
</div>
